# Ignore large raw count data
/InVivo/1_0_Raw/CRF_Screen_raw/

# Ignore Mac generated resource fork files
._*

# Ignore larger biogrid reference file
/Ref/BIOGRID-ALL-3.5.172_simplify.tab.txt
/Ref/BIOGRID-ALL-3.5.172.tab.txt
/CRF_Screen/Ref/BIOGRID.use.txt

# Ignore R studio files
.R*
